@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 10px;
    padding:0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

.Header{
    width: 100%;
    height: auto;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header nav{
    width: 50%;
    height: auto;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 5px;
}

nav .logo{
    font-size: 30px;
    font-weight: 600;
    color: #00b4d8;
}

